# OpenAI-compatible LLM settings
OPENAI_BASE_URL=http://127.0.0.1:1234/v1
OPENAI_MODEL=qwen/qwen3-vl-4b
OPENAI_API_KEY=local-key

# AnythingLLM settings
ANYTHINGLLMAPIKEY=7B47PRS-R87M77J-HQZRP0J-G5957TW